body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.progress-bar {
    width: 800px;
    height: 7px;
    background-color: #E6E6FA;
    /* 浅紫色 */
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3.5px;
    overflow: hidden;
    /* 确保圆角生效 */
}

.progress {
    height: 100%;
    background-color: #190bdd;
    /* 深紫色 */
    width: 50%;
    /* 初始为第一页的进度 */
    transition: width 0.3s ease;
}

.container {
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    text-align: center;
    max-width: 800px;
    width: 80%;
    display: flex;
    /* 使用Flexbox布局 */
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #333;
}

p {
    margin-bottom: 50px;
    font-size: 18px;
    color: #666;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
    justify-items: center;
}

.grade-button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.grade-button:hover {
    background-color: #f0f0f0;
}

.grade-button.selected {
    background-color: #190bdd;
    color: white;
    border-color: #190bdd;
}

.button-group {
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 25px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button,
.complete-button {
    background-color: rgb(84, 3, 255);
    color: white;
}

.skip-button {
    border: 2px solid rgb(183, 151, 250);
    background-color: #fff;
    color: rgb(84, 3, 255);
}

.previous-button {
    background-color: #2196F3;
    color: white;
}

.page {
    display: none;
    margin-top: 30px;
}

.page.active {
    display: block;
}

input {
    width: 60%;
    /* 宽度占满容器 */
    padding: 10px;
    /* 内边距 */
    margin: 8px 0;
    /* 外边距 */
    box-sizing: border-box;
    /* 边框计算在宽度内 */
    border: 2px solid #ccc;
    /* 边框样式 */
    border-radius: 20px;
    /* 圆角边框 */
    outline: none;
    /* 点击时不显示轮廓 */
    transition: border-color 0.3s ease;
    /* 边框颜色变化的过渡效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selection-box {
    display: flex;
    align-items: center;
    /* 如果需要垂直居中对齐 */
    justify-content: flex-end;
    /* 水平方向靠左对齐 */
    gap: 10px;
}

#page2 h1 {
    margin-top: -80px;
}