*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 渐变背景 */
    background: linear-gradient(to right,#b6d7ef,#2712e6);
}
#plane{
    color: #fff;
    font-size: 70px;
    /* 绝对定位 */
    position: absolute;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 表单容器样式 */
.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 标题样式 */
.form-title {
    text-align: center;
    margin-bottom: 20px;
}

/* 输入框样式 */
.input-field {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* 水平居中 */
}

.input-field input {
    align-items: center;
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
}

/* 按钮样式 */
.button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7e77e6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    display: block; 
    text-align: center;
    margin-bottom: 20px;
}
.form-container a{
    display: block; /* 或者使用 inline-block */
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #908be4;

}